cloudpickle>=3.0
cycler>=0.12
Cython>=3.0
dask>=2024.5
decorator>=5.1
h5py>=3.9
imageio>=2.35
kiwisolver>=1.4
matplotlib>=3.10
networkx>=3.3
numpy>=1.26
Pillow>=10.0
pyparsing>=3.1
python-dateutil>=2.9
pytz>=2024.1
PyWavelets>=1.6
scikit-image>=0.24
scipy>=1.13
six>=1.16
toolz>=0.12
torch>=2.3
torchvision>=0.18
